<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Generador Codigo</title>
        <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
        <script scr="../resources/body/js/bootstrap.min.js"></script>
    </head>
    <body>    
        <section style="margin:3%">
            
        </section>
    </body>
</html>