<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Generador Codigo</title>
        <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
        <script scr="../resources/body/js/bootstrap.min.js"></script>
    </head>
    <body>    
        <section style="margin:3%">


            <div class="col-m12">
                <form action="">
                    <!-- Seleccionar Proyecto -->
                    <div class="form-group">
                        <label for="">
                            Seleccione Proyecto.
                        </label>
                        <select name="" id="" class="form-control">
                            <option va lue="">Proyecto 1</option>
                        </select>
                    </div>

                    <!-- Seleccionar Tabla si existe o crear -->
                    <div class="form-group">
                        <label for="">
                            Seleccionar Tabla
                        </label>
                        <select name="" id="">
                            <option value="">
                                Tabla 1
                            </option>
                        </select>
                    </div>

                </form>
            </div>

        </section>
    </body>
</html>